


<div class="wrap">
    <% for(var i=0; i<data.result.length; i++) {%>
    <div class="box">
        <div class="boxInner">
            <a href="/profile/<%= data.result[i].id%>" target="_blank">
                <img class="lazy" data-original="http://pretty-girl.b0.upaiyun.com/<%= data.result[i].localSmallPicSrc%>!umei.pc.small" alt="<%= data.result[i].title%>" title="<%= data.result[i].title%>">
            </a>
        </div>
    </div>
    <% } %>
</div>
