<style>

    /* Demo styles */
    html,body{background:#222;margin:0;}
    .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
    h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
    p{margin:0 0 20px}
    a {color:#22BCB9;text-decoration:none;}
    .cred{margin-top:20px;font-size:11px;}

    /* This rule is read by Galleria to define the gallery height: */
    html,body,#galleria{height:100%; width: 100%}
    .galleria-theme-classic .galleria-thumbnails-container {
        display: none;
    }
    .galleria-theme-classic .galleria-stage {
        bottom: 2px;
        top: 2px;
    }
    .galleria-theme-classic .galleria-thumbnails .galleria-image img{
        display: none !important;
        height: 0;
        width: 0;
        display: inline-block;
    }
</style>
<div id="galleria">
    <% for(var i=0; i<data.localBigPic.length; i++) {%>
    <a href="http://img.pretty-girl.top/<%=data.localBigPic[i]%>">
        <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                data-big="http://img.pretty-girl.top/<%=data.localBigPic[i]%>"
                data-description="<%=data.title%>"
                >
    </a>
    <% } %>
</div>

