
<% for(var i=0; i<data.length; i++) {%>
<div style="margin-bottom: 10px">
    <img class="lazy" data-original="http://pretty-girl.b0.upaiyun.com/<%=data[i]%>" style="width: 100%;" alt=""/>
</div>
<% } %>
