<div class="theme">
    <div class="theme-box">
        <div class="spin-icon">
            <i class="fa-spin">&#42;</i>
        </div>
        <div class="content">
            <div class="title">
                <span>THEME</span>
            </div>
            <div style="overflow: hidden">
                <div class="theme-item">
                    <a href="/spring/jp/page/1">日韩<sup class="hot">hot</sup></a>
                </div>
                <div class="theme-item">
                    <a href="/spring/hk/page/1">港台</a>
                </div>
                <div class="theme-item">
                    <a href="/spring/cn/page/1">大陆</a>
                </div>
                <div class="theme-item">
                    <a href="/summer/xinggan/page/1">性感</a>
                </div>
                <div class="theme-item">
                    <a href="/summer/qingchun/page/1">清纯</a>
                </div>
                <div class="theme-item">
                    <a href="/summer/chemo/page/1">车模<sup class="hot">hot</sup></a>
                </div>
                <div class="theme-item">
                    <a href="/summer/xiaohua/page/1">校花</a>
                </div>
                <div class="theme-item">
                    <a href="/summer/qipao/page/1">旗袍</a>
                </div>
                <div class="theme-item">
                    <a href="/summer/mingxing/page/1">明星</a>
                </div>
                <div class="theme-item">
                    <a href="/autumn/qingliang/page/1">清凉</a>
                </div>
                <div class="theme-item">
                    <a href="/autumn/jingyan/page/1">惊艳</a>
                </div>
                <div class="theme-item">
                    <a href="/autumn/bagua/page/1">八卦</a>
                </div>
                <div class="theme-item">
                    <a href="/autumn/suren/page/1">素人</a>
                </div>
                <div class="theme-item">
                    <a href="#">素人</a>
                </div>
            </div>
        </div>
    </div>
</div>