<div class="theme">
    <div class="theme-box">
        <div class="spin-icon">T</div>
        <div class="content">
            <div class="title">
                <span>THEME</span>
            </div>
            <div style="overflow: hidden">
                <div class="theme-item">
                    <a href="/mm/page/1">可爱<sup class="hot">hot</sup></a>
                </div>
                <div class="theme-item">
                    <a href="/qingchun/page/1">清纯</a>
                </div>
                <div class="theme-item">
                    <a href="/chemo/page/1">车模<sup class="hot">hot</sup></a>
                </div>
                <div class="theme-item">
                    <a href="/xiaohua/page/1">校花</a>
                </div>


                <div class="theme-item">
                    <a href="/qingliang/page/1">清凉</a>
                </div>
                <div class="theme-item">
                    <a href="/jingyan/page/1">惊艳</a>
                </div>
                <div class="theme-item">
                    <a href="/bagua/page/1">八卦</a>
                </div>
                <div class="theme-item">
                    <a href="/jp/page/1">日韩<sup class="hot">hd</sup></a>
                </div>
                <div class="theme-item">
                    <a href="/hk/page/1">港台<sup class="hot">hd</sup></a>
                </div>
                <div class="theme-item">
                    <a href="/cn/page/1">大陆<sup class="hot">hd</sup></a>
                </div>
            </div>
        </div>
    </div>
</div>