* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  background: transparent;
  color: #676a6c;
}
body {
  margin: 0;
  padding: 0;
  background: #eee;
  font: 10px/13px 'Lucida Sans', sans-serif;
}

.nav {
  font-size: 70px;
  color: #fff;
  position: fixed;
  top: 40%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: rgba(0, 0, 0, .3);
  cursor: pointer;
  border-radius: 50%;
}
.nav:hover {
  background: rgba(0, 0, 0, .5);
}
.nav_left {
  left: 0;
}
.nav_right {
  right: 0;
}
.wrap {
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}
.box {
  float: left;
  position: relative;
  width: 10%;
  padding-bottom: 15%;
}
.boxInner {
  position: absolute;
  bottom:5px;
  left: 5px;
  right: 5px;
  top: 5px;
  overflow: hidden;
}
.boxInner img {
  width: 100%;
  height: 100%;
}
.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -100px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}
@media only screen and (max-width : 400px) {
  .box {
    width: 50%;
    padding-bottom: 75%;
  }
  .nav {
    font-size: 35px;
    top: 40%;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

.list {
  position: fixed;
  top: 90px;
  right: 0;
  overflow: hidden;
}
.list-box {
  position: relative;
  z-index: 2000;
  transition: all .4s linear;
  margin-right: -120px;
}
.list-box.show {
  margin-right: 0px;
}
.show {
  display: block !important;
}

.spin-icon {
  background: #1ab394;
  position: absolute;
  padding: 7px 10px 7px 13px;
  border-radius: 20px 0px 0px 20px;
  font-size: 16px;
  top: 0;
  left: 0px;
  width: 40px;
  color: #fff;
  cursor: pointer;
}
.content {
  width: 120px;
  margin-left: 40px;
  background: #f3f3f4;
}
.list-item {
  float: left;
  width: 50%;
  text-align: center;
  color: #676a6c;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #efefef;
  text-align: center;
  padding: 10px 15px;
  font-size: 13px;
}
.theme {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #676a6c;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #efefef;
  text-align: center;
  padding: 10px 15px;
}
.list-item:hover {
  background: #eaeaed;
}
.list-item.theme:hover {
  background: #efefef;

}
.list-item a {
  position: relative;
}
.hot {
  position: absolute;
  top: -3px;
  font-size: 8px;
  color: red;
  font-style: italic;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear
}
@media only screen and (max-width : 600px) and (min-width : 400px) {
  .box {
    width: 33.3333%;
    padding-bottom: 49.9999%;
  }
  .nav {
    font-size: 35px;
    top: 40%;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
@media only screen and (max-width : 800px) and (min-width : 600px) {
  .box {
    width: 25%;
    padding-bottom: 37.5%;
  }
}
@media only screen and (max-width : 1000px) and (min-width : 800px) {
  .box {
    width: 20%;
    padding-bottom: 30%;
  }
}
@media only screen and (max-width : 1200px) and (min-width : 1000px) {
  .box {
    width: 16.6666%;
    padding-bottom: 25%;
  }
}
@media only screen and (max-width : 1400px) and (min-width : 1200px) {
  .box {
    width: 14.2557%;
    padding-bottom: 21.4285%;
  }
}
@media only screen and (max-width : 1600px) and (min-width : 1400px) {
  .box {
    width: 12.5%;
    padding-bottom: 18.75%;
  }
}
@media only screen and (max-width : 1800px) and (min-width : 1600px) {
  .box {
    width: 11.1111%;
    padding-bottom: 16.6666%;
  }
}
@media only screen and (max-width : 1800px) and (min-width : 1600px) {
  .box {
    width: 11.1111%;
    padding-bottom: 16.6666%;
  }
}
@media only screen and (max-width : 2000px) and (min-width : 1800px) {
  .box {
    width: 10%;
    padding-bottom: 15%;
  }
}
