
@media only screen and (max-width : 400px) {
  #spring.box {
    padding-bottom: 75%;
    width: 50%;
  }
}
@media only screen and (max-width : 600px) and (min-width : 401px) {
  #spring.box {
    width: 33.3333%;
    padding-bottom: 49.9999%;
  }
}
@media only screen and (max-width : 800px) and (min-width : 601px) {
  #spring.box {
    width: 25%;
    padding-bottom: 37.5%;
  }
}
@media only screen and (max-width : 1000px) and (min-width : 800px) {
  #spring.box {
    width: 20%;
    padding-bottom: 30%;
  }
}
@media only screen and (max-width : 1200px) and (min-width : 1000px) {
  #spring.box {
    width: 16.6666%;
    padding-bottom: 25%;
  }
}
@media only screen and (max-width : 1400px) and (min-width : 1200px) {
  #spring.box {
    width: 14.2557%;
    padding-bottom: 21.4285%;
  }
}
@media only screen and (max-width : 1600px) and (min-width : 1400px) {
  #spring.box {
    width: 12.5%;
    padding-bottom: 18.75%;
  }
}

@media only screen and (max-width : 1800px) and (min-width : 1600px) {
  #spring.box {
    width: 11.1111%;
    padding-bottom: 16.6666%;
  }
}
@media only screen and (max-width : 2000px) and (min-width : 1800px) {
  #spring.box {
    width: 10%;
    padding-bottom: 15%;
  }
}
